<div id="top_requests">
  <div class="mytable" style="width:300px;">
	  <table >
		  <tr>
			  <td>
				  Top 5 Requests
			  </td>
		  </tr>
  <% @songs.each do |song| %>
      <tr>
        <td>
        <%= song.song_title %><br/>
        (<%= pluralize song.reputation_for(:votes).to_i, "vote" %>) - (Req: <%= song.requester %>)
        </td>
      </tr>
  <% end %>
    </table>
  </div>
</div>
