<!-- About -->
<div data-role="page" id="page8">
    <div data-theme="b" data-role="header">
        <%= link_to 'Back', songs_path, "data-role" => "button", :class => "ui-btn-left" %>
        <h3>
            <center>
                About
            </center>
        </h3>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-divider-theme="b" data-inset="true">
            <li data-theme="c">
                <a href="/home/privacy/" data-transition="slide">
                    Privacy Policy
                </a>
            </li>
            <li data-theme="c">
                <a href="/home/terms/" data-transition="slide">
                    Terms of Use
                </a>
            </li>
            <li data-theme="c">
                <a href="#page1" data-transition="slide">
                    About (Club Name)
                </a>
            </li>
            <li data-theme="c">
                <a href="/home/support/" data-transition="slide">
                    About Personal DJ
                </a>
            </li>
        </ul>
    </div>
</div>
