<!-- About -->
<div data-role="page" id="page8">
    <div data-theme="b" data-role="header">
        <a data-role="button" href="#page1" class="ui-btn-left">
            <%= link_to 'Back', songs_path %>
        </a>
        <h3>
            About
        </h3>
        <ul data-role="listview" data-divider-theme="b" data-inset="true">
            <li data-theme="c">
                <%= link_to 'Privacy Policy', home_privacy_path, "data-transition" => "slide" %>
            </li>
            <li data-theme="c">
                <a href="#page1" data-transition="slide">
                    Terms of Use
                </a>
            </li>
            <li data-theme="c">
                <a href="#page1" data-transition="slide">
                    About (Club Name)
                </a>
            </li>
            <li data-theme="c">
                <a href="#page1" data-transition="slide">
                    About Personal DJ
                </a>
            </li>
        </ul>
    </div>
    <div data-role="content">
    </div>
</div>
