<%= stylesheet_link_tag "custom_well" %>

<% @accepted_songs.each do |song| %>
  <div class="well custom jumbotron">
    <h1><%= song.name %></h1>
    <div class="well well-small jumbotron">
      <h4><%= song.artist %></h4>
      <p>
        <a class="btn btn-primary btn-large btn-inverse">
          Succesfull request
        </a>
      </p>
      <p>
        (<%= pluralize song.reputation_for(:votes).to_i, "vote" %>)
      </p>
    </div>
  </div>
<% end %>
