<br/>

<p>
<h1>Application Privacy Statement</h1>
<br/>

This privacy statement (“Privacy Statement”) applies to the treatment of personally identifiable information submitted by, or otherwise obtained from, you in connection with the associated application Personal DJ. The Application is provided by Personal DJ and may be provided on behalf of Personal DJ by a licensor or partner (“Application Partner”). By using or otherwise accessing the Application, you acknowledge that you accept the practices and policies outlined in this Privacy Statement. <br/>
<br/>
<h3>WHAT PERSONAL INFORMATION DOES Personal DJ COLLECT?</h3>
<br/>

We collect the following types of information from our users:<br/>
Facebook user names <br/>
Demographic data such as; age, gender, residence and profession <br/>
Music preferences <br/>
Personal Information You Provide to Us: <br/>
We may receive and store any information you submit to the Application (or otherwise authorize us to obtain – such as, demographic data from your Facebook account). The types of personal information collected may include your full name,  gender, username, demographic information, and any other information necessary for us to provide the Application services. <br/>
<br/>
Personal Information Collected Automatically: <br/>
We receive and store certain types of usage related information whenever you interact with Application. For example, Personal DJ may automatically receive and record information regarding your Facebook user ID, Facebook Page fan status, and URLs accessed. Such information may be shared in aggregate (non-personally identifiable) form with our partners. <br/>
<br/>
<h3>HOW DOES Personal DJ USE THE INFORMATION IT COLLECTS?</h3>
<br/>

Personal DJ uses the information described in this Privacy Statement internally, to analyze, develop and improve its products and services, and to improve the services delivered by our partners. The personal information such as demographic data, can be used in order to tailor services of our partners and improve their marketing efforts. <br/>
<br/>
<h3>APPLICATION PARTNER TREATMENT OF PERSONAL INFORMATION.</h3>
<br/>

Personal DJ may provide personal information to the applicable Application Partner. The Application Partner’s use of your personal information is subject to the Application Partner’s separate privacy policy – and not this Privacy Statement. The Application Partner’s privacy policy is linked to from within the Partner’s Facebook application. <br/>
<br/>
<h3>WILL Personal DJ SHARE ANY OF THE PERSONAL INFORMATION IT RECEIVES?</h3>
<br/>

Personal information about our users is an integral part of our business. We neither rent nor sell your personal information to anyone (with the exception of sharing your information with an applicable Application Partner – see the “Application Partner Treatment” section above). We share your personal information only as described below. <br/>
<br/>
Application Partners: We will share your personal information with an applicable Application Partner (see the “Application Partner Treatment” section above). <br/>
<br/>
Agents: We employ other companies and people to perform tasks on our behalf and need to share your information with them to provide products or services to you. Unless we tell you differently, Personal DJ’s agents do not have any right to use personal information we share with them beyond what is necessary to assist us. You hereby consent to our sharing of personal information for the above purposes. Business Transfers: In some cases, we may choose to buy or sell assets. In these types of transactions, customer information is typically one of the business assets that are transferred. Moreover, if Personal DJ, or substantially all of its assets were acquired, or in the unlikely event that Personal DJ goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of Personal DJ may continue to information as set forth in this policy. <br/>
<br/>
Protection of Personal DJ and Others: We may release personal information when we believe in good faith that release is necessary to comply with the law; enforce or apply our conditions of use and other agreements; or protect the rights, property, or safety of Personal DJ, our employees, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction. <br/>
<br/>
With Your Consent: Except as set forth above, you will be notified when your personal information may be shared with third parties, other than application partners and will be able to prevent the sharing of this information. <br/>
<br/>
<h3>CONDITIONS OF USE.</h3>
<br/>

If you decide to use or otherwise access the Application, your use/access and any possible dispute over privacy is subject to this Privacy Statement and our Terms of Use, including limitations on damages, arbitration of disputes, and application of Dutch public law. <br/>
<br/>
<h3>THIRD PARTY APPLICATIONS/WEBSITES.</h3>
<br/>

The Application may permit you to link to other applications or websites. Such third party applications/websites are not under Personal DJ’s control, and such links do not constitute an endorsement by Personal DJ of those other applications/websites or the services offered through them. The privacy and security practices of such third party application/websites linked to the Application are not covered by this Privacy Statement, and Personal DJ is not responsible for the privacy or security practices or the content of such websites. <br/>
<br/>
<h3>WHAT PERSONAL INFORMATION CAN I ACCESS?</h3>
<br/>

Personal DJ allows you to access the following information about you for the purpose of viewing, and in certain situations, updating that information. This list may change in the event the Application changes. <br/>
<br/>
- Account and user profile information <br/>
- User contact details, if applicable <br/>
- Facebook profile information, if applicable <br/>
- User preferences <br/>
- Application specific data such as demographic details <br/>
<br/>
<h3>CAN CHILDREN USE THE APPLICATION?</h3>
<br/>

Our site and the services available through Personal DJ are not intended for children under the age of 16. Personal DJ does not knowingly or specifically collect information about children under the age of 16 and believes that children of any age should get their parents’ consent before giving out any personal information. We encourage you to participate in your child’s web experience. <br/>
<br/>
<h2>CHANGES TO THIS PRIVACY STATEMENT.</h2>
<br/>

Personal DJ may amend this Privacy Statement from time to time. Use of information we collect now is subject to the Privacy Statement in effect at the time such information is used. If we make changes in the way we use personal information, we will notify you by posting an announcement on our Site or sending you an email. Users are bound by any changes to the Privacy Statement when he or she uses or otherwise accesses the Application after such changes have been first posted. <br/>
<br/>
<h3>QUESTIONS OR CONCERNS.</h3>
<br/>

<h4>Contacting us</h4>
<br/>

If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at: <br/>
Personal DJ <br/>
www.personal.dj <br/>
Personal DJ <br/>
Van Houtstraat 5 6921BD Duiven <br/>
+31617423074 <br/>
info@personal.dj <br/>
</p>
