<!-- Support -->
<div data-role="page" id="page10">
    <div data-theme="a" data-role="header">
        <%= link_to 'Back', home_about_path, "data-role" => "button", :class => "ui-btn-left" %>
        <h3 style="text-align:right">
            Contact Us
        </h3>
    </div>
    <div data-role="content">
      <p>
        If you have any questions about the practices of this site, or your dealings with this site, please contact us at: <br/>
        Personal DJ <br/>
        www.personal.dj <br/>
        Personal DJ <br/>
        Van Houtstraat 5 6921BD Duiven <br/>
        +31617423074 <br/>
        info@personal.dj <br/>
      </p>
    </div>
</div>
