<!-- Terms -->
<div data-role="page" id="page9">
    <div data-theme="a" data-role="header">
        <%= link_to 'Back', home_about_path, "data-role" => "button", :class => "ui-btn-left" %>
        <h3 style="text-align:right">
            Terms of Use
        </h3>
    </div>
    <div data-role="content">
      <%= render "terms_content" %>
    </div>
</div>
