<body id="dashboard">
  <header class="jumbotron subhead" id="overview">
    <div class="container">
      <h1>Luxor Live</h1>
      <p class="lead">Personal DJ, request, list and share your songs. </p>
    </div>
  </header>

<!----- Marquee wheeeeeeeeeeeeeee -->

  <div class="well">
    <font size="4" face="Comic Sans MS" color="black">
    <marquee style="font-weight: bold" height="85%" scrolldelay ="100"  scrollamount= "5" loop="infinite">
      <div class="marquee">
        (Test 1) - (Test 2) - (Test 3)
      </div>
    </marquee>
    </font>
  </div>

<!----- Left Panel -->

  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="mytable" style="width:350px;">
          <table>
            <tr>
	            <td>Top Requests</td>
            </tr>
            <tr>
              <td>Airplanes - B.o.B. ft. Hayley Williams</td>
            </tr>
            <tr>
              <td>Hear You Me - Jimmy Eat World</td>
            </tr>
            <tr>
              <td>Pretty Little Girl - Blink 182</td>
            </tr>
            <tr>
              <td>Thinking of You - Flo Rida</td>
            </tr>
            <tr>
              <td>Guinevere - Eli Young Band</td>
            </tr>
            <tr>
              <td>Roll Up - Wiz Khalifa</td>
            </tr>
            <tr>
              <td>Clouds - Newton Faulker</td>
            </tr>
            <tr>
              <td>Wild Ones - Flo Rida ft. Sia</td>
            </tr>
            <tr>
              <td>Kids - MGMT</td>
            </tr>
            <tr>
              <td>Jay Sean - Where You Are</td>
            </tr>
          </table>
        </div>
      </div>

<!----- Center panel, needs to include a picture, see design. Will later on be used to display a carousel of pictures and/or other stuff -->

      <div class="span4">
        <h2>About Us</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>

<!----- Right Panel -->

      <div class="span4">
        <div class="mytable" style="width:350px;">
          <table>
            <tr>
	            <td>Latest songs</td>
            </tr>
            <tr>
              <td>Airplanes - B.o.B. ft. Hayley Williams</td>
            </tr>
            <tr>
              <td>Hold On - Sean Paul</td>
            </tr>
            <tr>
              <td>Pretty Little Girl - Blink 182</td>
            </tr>
            <tr>
              <td>Thinking of You - Flo Rida</td>
            </tr>
            <tr>
              <td>Fly - Nicki M & Rihanna</td>
            </tr>
            <tr>
              <td>Yolo!!!</td>
            </tr>
            <tr>
              <td>Some Nights - Fun.</td>
            </tr>
          </table>
        </div>
        <br/>
        <div class="mytable" style="width:350px;">
          <table>
            <tr>
	            <td>Accepted Songs</td>
            </tr>
            <tr>
              <td>Who Dat Girl - Flo Rida ft. Akon</td>
            </tr>
            <tr>
              <td>Rockin' With You - Chris Rene</td>
            </tr>
            <tr>
              <td>Barefoot Blue Jean Night - Jake Owen</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</body>   
