<!-- Gettrack -->
<div data-role="page" id="page1">
    <div data-theme="b" data-role="header">
        <h3>
          <center>
            Manage songs
          </center>
        </h3>
    </div>
  <% @songs.each do |song| %>
    <% unless song.status == 1 %>
      <div data-theme="a" data-role="header">
          <h4>
              <%= link_to song.song_title, edit_gettrack_song_path(song) %> (<%= pluralize song.reputation_for(:votes).to_i, "vote" %>)
          </h4>
      </div>
    <% end %>
  <% end %>
    <div data-theme="a" data-role="footer" data-position="fluid">
        <h3>
            This is an IceFlag production
        </h3>
    </div>
</div>
