<!-- Home -->
<div data-role="page" id="page1">
    <div data-theme="b" data-role="header">
          <%= link_to 'New Request', new_song_path, :class => "ui-btn-right", "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "left" %>
        <h3>
          <em>Jukebox</em>
        </h3>
    </div>
  <% @songs.each do |song| %>
    <% unless song.status == 1 %>
      <div data-theme="a" data-role="header">
        <% if current_user && !current_user.voted_for?(song) %>
          <%= link_to "up", vote_song_path(song, type: "up"), method: "post", "data-role" => "button", :class => "ui-btn-right" %>
        <% end %>
          <h4>
              (<%= song.reputation_for(:votes).to_i %>) <%= link_to truncate(song.song_title, :length => 30), song, "data-transition" => "slide" %>
          </h4>
      </div>
    <% end %>
  <% end %>
    <div data-theme="a" data-role="footer" data-position="fixed">
        <h3>
            This is an IceFlag production
        </h3>
    </div>
</div>
