<!-- Home -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=107458539438174";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div data-role="page" id="page1">
    <div data-theme="b" data-role="header" data-position="fixed">
          <%= link_to 'New Request', new_song_path, :class => "ui-btn-right", "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "left" %>
        <h3>
          <em>Jukebox</em>
        </h3>
    </div>
  <% @top_songs.each do |song| %>
    <% unless song.status == 1 %>
      <% unless ((song.inactive == true) && (song.reputation_for(:votes).to_i <= 2)) %>
          <div data-theme="a" data-role="header">
            <% if current_user && !current_user.voted_for?(song) %>
              <%= link_to "up", vote_song_path(song, type: "up"), method: "post", "data-role" => "button", :class => "ui-btn-right" %>
            <% end %>
              <h4>
                  (<%= song.reputation_for(:votes).to_i %>) <%= link_to truncate(song.song_title, :length => 30), song, "data-transition" => "slide" %>
              </h4>
          </div>
      <% end %>
    <% end %>
  <% end %>
    <div data-theme="b" data-role="footer" data-position="fixed">
        <a href="/home/about/" data-transition="slide" class="ui-btn-right">
            Find out more
        </a>
        <h3><div class="fb-like" data-href="http://www.facebook.com/pages/Personal-DJ-Community/470173646365169" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-colorscheme="dark" data-action="recommend"></div></h3>
    </div>
</div>
