<!-- About -->
<div data-role="page" id="page56">
    <div data-theme="b" data-role="header">
        <%= link_to 'Back', songs_path, "data-role" => "button", :class => "ui-btn-left" %>
        <h3>
            <center>
                Available music lists
            </center>
        </h3>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-divider-theme="b" data-inset="true">
            <li data-theme="c">
                <%= link_to 'Pop/rock', controller: "songs", action: "poprock", "data-transition" => "slide" %>
            </li>
            <li data-theme="c">
                <%= link_to 'Rock', controller: "songs", action: "rock", "data-transition" => "slide" %>
            </li>
            <li data-theme="c">
                <%= link_to 'Indie', controller: "songs", action: "indie", "data-transition" => "slide" %>
            </li>
            <li data-theme="c">
                <a href="#" data-transition="slide">
                    More lists soon to follow
                </a>
            </li>
        </ul>
    </div>
</div>
