* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 58px;
	background: url('bannert.jpg');
	  hr {
      color: #000;
      background-color: #000;
    }
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 100px;
	height: 1%;
	position: relative;
	top: 25px;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 370px 0 370px;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 350px;
	margin-left: -100%;
	position: relative;
	background: #FFFFFF;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: 350px;
	margin-left: -350px;
	position: relative;
	background: #FFFFFF;
}

#sideRight2 {
  position: relative;
  top: 200px;
	float: left;
	margin-right: -3px;
	width: 350px;
	margin-left: -350px;
	position: relative;
	background: #FFFFFF;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -100px auto 0;
	min-width: 1400px;
	height: 40px;
	background: #300000;
	position: fixed;
	bottom: 0px;
	left: 0px;
}
